.main{
    display: inline;
    background-color: green;
    color:darkblue;
    border-radius:10px;
    padding:5px;
    margin:10px;
}

header{
    background-color: darkgoldenrod;
    color:black;
    text-align: center;
    margin:25px;
    padding:10px;
}

footer{
    background-color: lightslategray;
    color:black;
    text-align:center;
    margin:30px;
    padding:10px;
}